$grey-light:#9BA4B5;
$grey:#575757;
$grey-darker:#EFF5F5;
$grey-darkest:#171717;
$orange : #EB6440;
$white:#d6d6d6;
body{
    background-color: $grey;
    color: $white;
}
header{
  z-index: 1;
  position: absolute;
    .container{
    background-color: $grey-darkest;}
    color: $white;
}
.humberger-toggle{
  i{
    color: white;
  }
}
.sidebar.close {
  transition: 0.3s;
  width: 100%;
  height: 3em;
  transition: 0.3;
}
.close :nth-child(3) {
visibility: hidden;
transition: 0.3;
}
.sidebar {
  transition: 0.3s;
}
.sidebar-content-container :nth-child(3),
.sidebar-content-container :nth-child(4),
.sidebar-content-container :nth-child(5) {
  height: 5%;
}
.sidebar .humberger-toggle {
  position: absolute;
  height: 3em;
}
.header {
  cursor: pointer;
}
@media (min-width: 576px) {
  .sidebar {
    transition: 0.5s;
    width: 20em;
    height: 100%;
  }
  .sidebar.close {
    transition: 0.5s;
    width: 5% !important;
    height: 100%;
  }
  .close :nth-child(3) {
    visibility:visible;
    transition: 0.3;
    }
  
}
.dashboard {
  margin-top: 8em;
}
.nav-child-closed {
  opacity: 0%;
  transition: 0.3s;
}
.absensi span,
.data span,
.keuangan span,
.setting span {
  transition: 0.3s;
  cursor: pointer;
}
/* .nav-open{
  transform: translateY(20em);
  transition: .2s;
} */
main{
  transition: .2s;
}