
$grey-light:#585858;
$grey:#D6E4E5;
$grey-darker:#111111;
$grey-darkest:#262626;
$orange : #EB6440;
$white:#d6d6d6;
.main,
.bulan-ini
{
    background-color: $grey-darkest;
    // aspect-ratio: 1;
    width: 100%;
    margin-top: 5em !important;
    color: $grey;
    position: relative;
    ::-webkit-scrollbar {
        width: 10px;
      }
      
    .saldo{
        font-size: 5em;
        margin-top: -1rem;
    }
    .saldo-text{
        font-size: 1.3em;
    }
    .masuk-keluar{
    }
}
.perubahan-saldo{
    right: 15%;
}
#history{
    min-height: 5em;
}
.keluar-masuk{
    right: 1rem;
    top: 1rem;
    font-size: 1.5em;
    cursor: pointer;
}
.accordion{
    border: none !important;
}
.accordion-container{
    max-height: 25em;
    overflow: overlay;
    background-color: $grey-darkest !important;
    .accordion-button{
        background-color: $grey-darker !important;
        color: $grey;
    }
}
.accordion-body{
    background-color: $grey-darkest;
 
}
.accordion-item{
    color: $grey !important;
    button{
        background-color: $grey-light;
        color: $grey;
    }
}
.tunggakan ,
.surplus{
    color: $grey;
}
footer{
    position: relative !important;
  }
// .main{
//     z-index: -10;
// }