$grey-light:#9BA4B5;
$grey:#575757;
$grey-darker:#EFF5F5;
$grey-darkest:#171717;
$grey-darkest-2:#000000;
$orange : #EB6440;
$white:#d6d6d6;
h1 {
  margin-left: 4px;
}
body{
  background-color: $grey;
}
.email {
  word-wrap: break-word;
}
.row {
  background-color: $grey-darkest;
  // box-shadow: #191919 -5px 5px 15px 5px;
  margin: 0px;
  flex-direction: column;
  font-size: 15px;
}
.row :nth-child(16) {
  display: flex !important;
  background-color: $grey-darkest-2;
}
.data-container {
  display: none;
}
.data-container :nth-child(even) {
  background-color: $grey-darkest-2;
  display: flex !important;
}
.aksi button {
  display: flex !important;
}

.id {
  width: 5%;
}
.id,
.nama,
.kelas,
.noabsen,
.umur,
.email,
.nohp,
.alamat,
.aksi {
  display: flex;
  justify-content: center;
}
.container-fluid {
  width: 10;
}
/* .nohp {
  padding: 2em;
  width: 10%;
} */
.nohp {
  width: 100%;
}
/* .noabsen {
  width: 20%;
} */
a {
  text-decoration: none;
}
.alert-container {
  position: fixed;
  top: 0px;
}
.loader{
  aspect-ratio: 1;
  object-fit: contain;
  height: 100%;
}
@media (min-width: 576px) {
  .sidebar {
    transition: 0.5s;
    width: 20em;
    height: 100%;
  }
  .sidebar.close {
    transition: 0.5s;
    width: 5% !important;
    height: 100%;
  }
  .close :nth-child(3) {
    opacity: 100%;
  }
  .row {
    margin: 1em;
    display: flex;
    flex-direction: row;
  }
  /* main {
    margin-left: 100px;
  } */
  .nohp {
    width: 10%;
  }
  .modal-content {
    display: block;
    form {
    display: block !important;
    .modal-body{
      display: block;
    }
    .modal-footer > *{
      display: flex !important;
    }
  }
  }
  .modal-header > * {
    display: block !important;
  }
  #row :nth-child(even) {
    display: none;
  }
  .data-container {
    display: flex;
  }
  .pagination {
    padding-left: 6em;
    margin-right: 6em;
  }
  .loader{
 
    width: 2em;
    /* right: 0px; */
    display: none;
  }
}
.dashboard {
  margin-top: 8em;
}
.nav-child-closed {
  opacity: 0%;
  transition: 0.3s;
}
.dashboard span,
.data span,
.img span,
.setting span {
  transition: 0.3s;
}
@media (min-width: 576px) {
  main{
    margin-left: 5em;
  }
  
}
.searchbar-container{
  height: 30px;
  form{
    flex-basis: 100%;
    input{
      width: 100%;
    }
    input:focus{
      border: 0px;
      outline: 0px;
    }
  }
}
.searchbar-container{
height: 38px;
overflow: hidden;
}