$grey-light:#9BA4B5;
$grey:#D6E4E5;
$grey-darker:#EFF5F5;
$grey-darkest:#497174;
$orange : #EB6440;
$white:#d6d6d6;

.main{
    background-color: $grey-darkest;
    aspect-ratio: 1;
    width: 100%;
}